<form class="col-4" action="/restaurants" method="POST">
  <input type="text" placeholder="name in Chinese" name="name">
  <input type="text" placeholder="name in English" name="name_en">
  <input type="text" placeholder="category" name="category">
  <input type="text" placeholder="image" name="image">
  <input type="text" placeholder="location" name="location">
  <input type="text" placeholder="phone" name="phone">
  <input type="text" placeholder="google_map" name="google_map">
  <input type="text" placeholder="rating" name="rating">
  <input type="text" placeholder="description" name="description">
  <button type="submit">Create</button>
</form>

