<div class="container h-100">
  <div class="row h-100 my-auto justify-content-center align-items-center text-center">
    <form class="col-4 mt-3" action="/restaurants" method="POST" onsubmit="return editCheckAgain()">
      <input required type="text" placeholder="中文名稱" name="name" class="form-control input-area">
      <input type="text" placeholder="name in English" name="name_en" class="form-control input-area">
      <input required type="text" placeholder="category" name="category" class="form-control input-area">
      <input type="text" placeholder="image" name="image" class="form-control input-area">
      <input type="text" placeholder="location" name="location" class="form-control input-area">
      <input type="text" placeholder="phone" name="phone" class="form-control input-area">
      <input type="text" placeholder="google_map" name="google_map" class="form-control input-area">
      <input type="text" placeholder="rating" name="rating" class="form-control input-area">
      <input type="text" placeholder="description" name="description" class="form-control input-area">
      <button type="submit" class="btn btn-outline-danger mt-3 mb-5">Create</button>
    </form>
  </div>
</div>