<!-- ./views/index.handlebars -->
<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="å°‹æ‰¾ä½ æ„›çš„é¤å»³" aria-label="Restaurant Name..."
            aria-describedby="search-button" value={{ keyword }}>
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- restaurant list -->
<div class="container">
  <h2 class='d-flex justify-content-center align-items-center row'>Sorry, we can not find anything about "{{ keyword }}"
    ðŸ¥º</h2>
</div>